@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile first */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.dark body {
	background-color: #191919;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

img {
	display: block;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/* Sticky footer */
.site-main {
	flex-grow: 1;
}

.btn {
	height: auto;
	min-height: auto;
}

.valid-feedback {
	@apply text-success;
}

.invalid-feedback {
	@apply text-error;
}

.rounded-full:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination {
	width: auto !important;
	left: 86px !important;
	bottom: 88px !important;
	color: white;
}

.swiper-pagination-bullet {
	width: 58px;
	height: 3px;
	margin-left: auto;
	left: 0;
	opacity: 1;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

article {
	box-shadow: 0px 4px 77px 0px #00000040;
}

a {
	outline: none;
}

.categories__input:checked+span {
	color: #C9AC8C;
}

.dark .categories__input:checked+span {
	color: #C9AC8C;
}

.author__item {
	background-image: url("./assets/images/decor.svg"), url("./assets/images/decor.svg");
	background-repeat: no-repeat;
	background-size: contain, 142px 142px;
	background-position: -52px 100px, 215px -33px;
}

.dark .author__item {
	background-image: url("./assets/images/darkdecor.svg"),
		url("./assets/images/darkdecor.svg");
}

.active-user-nav {
	@apply bg-[#DDE6F5] text-[#152540]
}

.dark .active-user-nav {
	@apply text-black bg-[#F3F6F9];
}

.active-user-nav span {
	@apply text-white bg-[#152540]
}

.dark .active-user-nav span {
	@apply bg-black text-white;
}